.top-main
  =image_tag("https://web-jp-assets.mercdn.net/_next/static/images/top-banner-camp-4f3fd88c685e8932d7dde2ad3a8336ba.jpg",height: "390",width: "100%",class:"header-image",alt: "")
  .notifications
    - flash.each do |key, value|
      = content_tag(:div, value, class: key)