.top-main
  =image_tag("https://web-jp-assets.mercdn.net/_next/static/images/top-banner-camp-4f3fd88c685e8932d7dde2ad3a8336ba.jpg",height: "390",width: "100%",class:"header-image",alt: "")
  .main
    .main-header
      .famous-categories
        人気のカテゴリー
      .category
        .ladies
          .font
            レディース
        .mens
          .font
            メンズ
        .av
          .font
            家電・スマホ・カメラ
        .hoby
          .font
            おもちゃ・ホビー・グッズ
    .items
      .item-review
        .ladies-new
          .content
            レディース新着アイテム
            %li
              =link_to "", id:"",class: "more" do
                もっと見る >
        .item-images
          .item-images__review