.top-main
  =image_tag("https://web-jp-assets.mercdn.net/_next/static/images/top-banner-camp-4f3fd88c685e8932d7dde2ad3a8336ba.jpg",height: "390",width: "100%",class:"header-image",alt: "")
  .notifications
    - flash.each do |key, value|
      = content_tag(:div, value, class: key)
  .main-topic
    .main-header
      .famous-categories
        人気のカテゴリー
      .category
        .ladies
          .font
            レディース
        .mens
          .font
            メンズ
        .av
          .font
            家電・スマホ・カメラ
        .hoby
          .font
            おもちゃ・ホビー・グッズ
    .items
      .item-review
        .ladies-new
          .ladies-new__content
            レディース新着アイテム
            %li
              =link_to "", id:"",class: "more" do
                もっと見る >
        .item-images
          - @images.reverse.each do |image|
            =link_to item_path(image.item.id), class: "item-images__link" do
              .item-images__link__contents
                .item-images__link__contents__container
                  .item-images__link__contents__container__price
                    = number_to_currency(image.item.price, unit: "¥ ", precision: 0)
                =image_tag image.url, alt:"商品写真",class:"item-images__link__contents__photo"
                .item-images__link__contents__names
                  = image.item.name