.done-main{

  &__content{
    background-color: white;
    width: 700px;
    margin: 0 auto;
    &__title{
      text-align: center;
      font-size: 22px;
      font-weight: bold;
      padding: 32px;
      border-bottom: 1px solid #f5f5f5;
    }
    &__box{
      text-align: center;
      display: flex;
      flex-direction: column;
      padding: 40px 40px 64px;
      max-width: 343px;
      margin: 0 auto;
      #margin_top{
        margin-top: 24px;
      }
      &__group{
        &__text{
          margin-top: 8px;
          line-height: 1.5;
          color: rgb(51, 51, 51);
          font-size: 14px;
        }
        &__button{
          line-height: 48px;
          width: 100%;
          background-color:  #ea352d;
          color: #ffffff;
          margin-top: 32px;
          font-size: 14px;
          position: relative;
          a{
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            z-index: 1;
          }
        }
      }
    }
    &__image{
      .aside {
        height: 260px;
        background: url("https://www.mercari.com/jp/assets/img/common/jp/top/download_bg_pc.jpg?61716930");
        background-position: center;
        background-size: cover;
        width: 100%;
        margin: 0;
        display: flex;
        justify-content: center;
      }
      
      .app-text {
        padding: 30px 0px;
        h2 {
          color: #FFF;
          font-size: 18px;
          text-align: left;
          font-weight: bold;
          padding: 0 10px;
        }
        p {
          color: #FFF;
          font-size: 30px;
          text-align: left;
          padding: 0 10px;
        }
        &__figure {
          display: flex;
          padding: 18px;
          ul {
            display: flex;
            li {
              padding: 10px;
            }
            a:hover {
              opacity: 0.7;
            }
          }
        }
      }

    }
  }

}
