.contents{
  .scrollimage{
    height: 390px;
    background-size: auto;
  }
  .contents-title{
    height: 390px;
    background-size: auto;
    .category-title{
    display: block;
    text-align: center;
    width: 100%;
    margin: -10px 0px 0px -10px;
    }

  }
  .items{
    padding: 42px 0px 100px;
    .category-subtitle{
      .items-image{
        .items-price{

        }
        .items-title{

        }
      }  
    }
      .more{

      }
  }  
}
