.login-main{
  &__content{
    background-color: white;
    width: 456px;
    margin: 0 auto;
    &__head{
      padding: 40px 64px;
      text-align: center;
      border-bottom: 1px solid #eee;
      max-width: 328px;
      margin: 0 auto;
      &__text{
        font-size: 14px;
      }
      &__button1{
        margin-top: 8px;
        border: 1px solid #0099e8;
        background: #0099e8;
        line-height: 40px;
        width: 100%;
        &__registration{
          color: #fff;
          text-decoration: none;
          font-size: 14px;
          display: block;
        }
      }
    }
    &__buttons{
      padding: 20px 64px 0;
      text-align: center;
      max-width: 328px;
      margin: 0 auto;
      &__button2{
        line-height: 48px;
        width: 100%;
        background: #385185;
        margin-top: 16px;
        &__facebook{
          display: block;
          text-decoration: none;
          position: relative;
          &__icon{
            position: absolute;
            top: 7px;
            left: 16px;
            font-size: 30px;
            color: #ffffff;
          }
          &__text{
            color: #ffffff;
            font-size: 14px;
          }
        }
      }
      &__button3{
        line-height: 48px;
        width: 100%;
        background: #fff no-repeat 3px top;
        margin-top: 16px;
        &__google{
          display: block;
          text-decoration: none;
          position: relative;
          &__icon{
            position: absolute;
            top: 14px;
            left: 16px;
            font-size: 20px;
            color: red;
          }
          &__text{
            color: #333;
            font-size: 14px;
          }
        }
      }
    }
    &__box{
      display: flex;
      flex-direction: column;
      padding: 40px 40px 64px;
      max-width: 328px;
      margin: 0 auto;
      &__group{
        &__form{
          width: 294px;
          height: 30px;
          margin-top: 8px;
          border-radius: 4px;
          border: 1px solid #ccc;
          padding: 10px 16px 8px;
          background: #fff;
          line-height: 1.5;
          font-size: 16px;
        }
        #margin-bottom{
          margin-bottom: 20px;
        }
        &__submit{
          height: 48px;
          width: 100%;
          background-color:  #ea352d;
          color: #ffffff;
          margin-top: 32px;
          margin-bottom: 40px;
          cursor: pointer;
        }
        &__forgot{
          text-align: left;
          &__link{
            color: #0099e8;
            text-decoration: none;
            font-size: 14px;
          }
          &__link:hover{
            text-decoration: underline;
            opacity: .7;
          }
        }
      }
    }
  }
}